<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="SEGPConnectionString" connectionString="Data Source=DESKTOP-FA8F9VB;Initial Catalog=SEGP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SEGPConnectionString2" connectionString="Data Source=DESKTOP-FA8F9VB;Initial Catalog=SEGP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SEGPConnectionString3" connectionString="Data Source=DESKTOP-FA8F9VB;Initial Catalog=SEGP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SEGPConnectionString4" connectionString="Data Source=DESKTOP-FA8F9VB;Initial Catalog=SEGP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SEGPConnectionString5" connectionString="Data Source=DESKTOP-FA8F9VB;Initial Catalog=SEGP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SEGPConnectionString6" connectionString="Data Source=DESKTOP-FA8F9VB;Initial Catalog=SEGP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SEGPConnectionString7" connectionString="Data Source=DESKTOP-FA8F9VB;Initial Catalog=SEGP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SEGPConnectionString8" connectionString="Data Source=DESKTOP-FA8F9VB;Initial Catalog=SEGP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SEGPConnectionString9" connectionString="Data Source=DESKTOP-FA8F9VB;Initial Catalog=SEGP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SEGPConnectionString10" connectionString="Data Source=DESKTOP-FA8F9VB;Initial Catalog=SEGP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SEGPConnectionString11" connectionString="Data Source=DESKTOP-FA8F9VB;Initial Catalog=SEGP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SEGPConnectionString12" connectionString="Data Source=DESKTOP-FA8F9VB;Initial Catalog=SEGP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SEGPConnectionString13" connectionString="Data Source=DESKTOP-FA8F9VB;Initial Catalog=SEGP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SEGPConnectionString14" connectionString="Data Source=DESKTOP-FA8F9VB;Initial Catalog=SEGP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SEGPConnectionString15" connectionString="Data Source=DESKTOP-FA8F9VB;Initial Catalog=SEGP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    
    </system.web>


<appSettings>
  

<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>

</configuration>
